.Gradient{
  background-image: linear-gradient(to right, rgba(14.51%, 18.43%, 18.43%, 1.00), rgba(23.14%, 23.92%, 23.92%, 0.84));
  display: flex;
  justify-content: center;
}
.iconButton{
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}
.selected{
  background-color: transparent !important;
  border: none !important;
  color: #007bff  !important;
}
.UserScoreText{
  margin: auto 5px;
  width: 42px;
}
.Popup{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}
.Hide{
  display: none;
}
.Show{
  display: flex;
}
.Close{
  right: -700px;
  position: relative;
  top: -380px;
  padding: 0;
  border: none;
  background: none;
  color: white;
}