@import "../variables.scss";

.Gradient{
  background-image: linear-gradient(to right, rgba(14.51%, 18.43%, 18.43%, 1.00), rgba(23.14%, 23.92%, 23.92%, 0.65));
  display: flex;
  justify-content: center;
  color: color("white");
}
.IconButton{
  background-color: transparent !important;
  border: none !important;
}
.selected{
  background-color: transparent !important;
  border: none !important;
  color: theme-color("primary"); 
}
.Label2Lines{
  margin: 0 5px;
  width: 42px;
}
.Dot:before {
  font-weight: 700;
  content: "•";
  margin-right: 5px;
}
.Truncate1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}