@import "../variables.scss";

.Gradient{
  background-image: linear-gradient(to right, rgba(14.51%, 18.43%, 18.43%, 1.00), rgba(23.14%, 23.92%, 23.92%, 0.65));
  display: flex;
  justify-content: center;
  color: color("white");
}
.IconButton{
  background-color: transparent !important;
  border: none !important;
}
.Selected{
  background-color: transparent !important;
  border: none !important;
  color: theme-color("primary"); 
}
.Truncate1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.VideoContainer {
  overflow: hidden;
  position: relative;
  width:100%;
}
.VideoContainer::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
.VideoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}