.SearchContainer{
  display: flex;
  padding: 10px 0;
}
.Grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px 0;
  width: 960px;
}
.Button{
  height: 44px;
  width: 100%;
  background-color: rgb(1, 180, 228);;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}
