@import '../variables.scss';

.IconButton {
  background-color: transparent !important;
  border: none !important;
  color: inherit !important;
}
.Selected {
  background-color: transparent !important;
  border: none !important;
  color: theme-color('primary');
}
.Truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Truncate1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.NoRadius {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  object-fit: contain;
  height: 100%;
}
