.iconButton{
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}
.selected{
  background-color: transparent !important;
  border: none !important;
  color: #007bff !important;
}
.Trancate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ButtonVotes{
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  background-color: black;
  padding: 17px;
  text-decoration: none;
  border-radius: 50%;
  border: solid lightgreen;
}