.iconButton{
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}
.selected{
  background-color: transparent !important;
  border: none !important;
  color: #007bff !important;
}
.Trancate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}