.FilterContainer{
  width: 258px;
  margin-right: 15px;
}
.Border{
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 15px;
}
.Divider{
  border-top: 1px solid #bbb;
}
.Button{
  height: 44px;
  width: 100%;
  background-color: rgb(1, 180, 228);;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}