.Header{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
}
.ContentContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  max-width: 1220px;
}
.HeaderHalf{
  display: flex;
  flex-direction: row;
  width: 50%;
}
.Link{
  color: white;
  margin-right: 20px;
  text-decoration: none;
}
.Search{
  width: 500px;
  height: 25px;
}
.Image{
  margin-right: 20px;
}