.ListItem{
  display: flex;
  height: 141px;
  margin: 15px 0 15px 0;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.ImageContainer{
  display: flex;
  width: 105px;
  height: 141px;
}
.Image{
  height: 100%;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px 0px 0px 10px;  
}
.ListItemText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 15px;
}
.ReleaseDate{
  padding-top: 5px;
  color: gray;
  margin: 0;
}
.Overview{
  text-overflow: ellipsis;
  height: 35px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}