.small {
  width: 43px;
  height: 43px;
  pointer-events: none;
  border: 3px solid #d2d531 !important;
}
.medium {
  width: 53px;
  height: 53px;
  pointer-events: none;
  border: 3px solid #d2d531 !important;
}
