.App {
  font-family:"Source Sans Pro", Arial, sans-serif;
  display: flex;
  /* justify-content:space-between; */
  flex-direction: column;
  align-items: center;
}
.FixedContainer{
  width: 1220px;
  max-width: 1220px;
}
.Header{
  padding: 20px;
  background-color: black;
  justify-content: center;
  display: flex;
  width: 100%;
}
.Header input{
  width: 500px;
}
.HeaderContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Header img{
  margin-right: 20px;
}
.Header .Link{
  color: white;
  margin-right: 20px;
  text-decoration: none;

}
.Grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px 0;

}
.Card{
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  height: 100%;
}
.Card img{
  width: 100%;
  height: 100%;
  background-color: lightgray;
}
.Card p{
  margin: 0px;
}
.TextCard{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.TextCard h3{
  margin: 5px 0 5px 0
}
.Big{
  display: flex;
  height: 450px;
  margin: 30px;
}
.Medium{
  display: flex;
  height: 443px;
}
.Small{
  display: flex;
  height: 348px;
}
.SearchContainer{
  display: flex;
  padding: 10px 0;
}
.FilterContainer{
  width: 258px;
  margin-right: 15px;
}
.TopRatedGrid{
  width: 960px;
}
.Banner{
  position: relative;
}
.Banner img{
  width: 100%;
  padding-top: 10px;
}
.BannerText{
  width: 80%;
  position: absolute;
  bottom: 10px;
  color: white;
  left: 50%;
  margin-left: -40%;
  text-align: center;
}
.Border{
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 15px;
}
.Border fieldset{
  border: 0;
}
.Button{
  height: 44px;
  width: 100%;
  background-color: rgb(1, 180, 228);;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}
.Border hr{
  border-top: 1px solid #bbb;
}
h3{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
legend{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
fieldset{
  padding-left: 0;
  margin-left: 0;
}
.SubFilterContainer{
  margin-top: 10px;
}
.SubFilterContainer select{
  width: 100%;
}
.ReleaseDatesField{
  display: flex;
  justify-content: space-between;
}
.Input{
  height: 25px;
}
.ReleaseDatesField label{
  display: flex;
  align-items: center;
}
.Slider{
  width: 100%;
}
datalist {
  display: flex;
  justify-content: space-between;
}
option{
  font-size: 12px;
  padding-left: 6px;
}
.ListItem{
  display: flex;
  height: 141px;
  margin: 15px 0 15px 0;
}
.BorderCard{
  border: 1px solid lightgray;
  border-radius: 10px;
}
.BorderCard img{
  border-radius: 10px 10px 0 0;
}
.ListItem a{
  display: flex;
  width: 94px;
  height: 141px;
}
.ListItem img{
  height: 100%;
  width: 94px;
  background-color: lightgray;
  border-radius: 10px 0px 0px 10px;  
}
.ListItemText{
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
}
.ListItemText p{
  margin: 0;
}
.ListItemText .Overview{
  text-overflow: ellipsis;
  height: 35px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ReleaseDate{
  padding-top: 5px;
  color: gray;
  margin: 0;
}
.Details{
  display: flex;
}
.Details img{
  height: 100%;
}
.DetailsText{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}
.Facts{
  display: flex;
}
.Actions{
  display: flex;
  align-items: center;
}
.Background{
  width: 100vw;
  position: absolute;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.Gradient{
  background-image: linear-gradient(to right, rgba(14.51%, 18.43%, 18.43%, 1.00), rgba(23.14%, 23.92%, 23.92%, 0.84));
  width: 100vw;
  display: flex;
  justify-content: center;
}
.Big img{
  border-radius:8px;
}
.DetailsText{
  color: white;
  font-size:16px;
}
.DetailsText h3{
  font-size: 35px;
  font-weight: 700;
}
.Facts span{
  align-self: center;
}
.Facts p:before {
  content:'\2022';
  display:inline-block;
  padding: 8px;
}
.Actions .Votes{
  background-color: black;
  border: 3px solid lightgray;
  color: white;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50%;
  font-weight: 700;
  height: 15px;
  width: 15px;
  text-align: center;
  margin: 10px 0 10px 0;
}

.Icon{
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 40px;
  border: none;
  margin-left: 13px;
}
.IconFav{
  background-color: black;
}
.IconPlay{
  background-color: transparent;
  display: flex;
  align-items: center;
}
.Actions .VotesText{
  width: 41px;
  margin: 8px;
  font-weight: 700;
}
.Fav{
  color: white;
  display: flex;
  align-items: center;
}
.ListFav{
  height: 200px;
  margin: 15px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.FavCard{
  display: flex;
  flex-direction: row;
  margin: 15px 0 15px 0;
  height: 200px;
}
.FavCard a {
  display: flex;
  height: 100%;
}
.FavCard img {
  height: 100%;
  background-color: lightgray;
  border-radius: 10px 0px 0px 10px;
  margin-right: 15px;
}
.FavDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.TopDetails{
  display: flex;
  flex-direction: row;
}
.TextTopDetails{
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
}
.FavDetails .Overview{
  margin: 0;
}
.FavDetails .Icon{
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: magenta;
  margin: 10px 0 10px 0;
}
.IconPlay #PlayText{
  margin: 0 0 0 8px;
  font-size: initial;
}
.Popup{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}
.Hide{
  display: none;
}
.Show{
  display: flex;
}
.Close{
  right: -700px;
  position: relative;
  top: -380px;
  padding: 0;
  border: none;
  background: none;
}
.fa-times{
  color: white;
}