$my-primary: #01b4e4;
$my-yellow: #d2d531;

@import "../node_modules/bootstrap/scss/functions";

$theme-colors: (
  "primary": $my-primary,
);

@import "../node_modules/bootstrap/scss/variables";

$navbar-dark-color: color("white");

@import "../node_modules/bootstrap/scss/mixins";
